<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.onlineshop.controller.frontend.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.onlineshop.controller.frontend.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.onlineshop.controller.frontend.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoListProductsServlet</servlet-name>
        <servlet-class>com.onlineshop.controller.frontend.GoListProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoProductDetailServlet</servlet-name>
        <servlet-class>com.onlineshop.controller.frontend.GoProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.onlineshop.controller.frontend.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoCartServlet</servlet-name>
        <servlet-class>com.onlineshop.controller.frontend.GoCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoCheckOutServlet</servlet-name>
        <servlet-class>com.onlineshop.controller.frontend.GoCheckOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoListProductsServlet</servlet-name>
        <url-pattern>/GoListProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoProductDetailServlet</servlet-name>
        <url-pattern>/GoProductDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoCartServlet</servlet-name>
        <url-pattern>/GoCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoCheckOutServlet</servlet-name>
        <url-pattern>/GoCheckOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3600
        </session-timeout>
    </session-config>
</web-app>
